namespace: default
resources:
- rbac
- cloudsql
- rabbitmq
- beat
- builder
- collectstatic
- migration
- compilemessages
- web
- worker
- google-cloud-storage

# TODO: if the issue below ever gets reopened
#    https://github.com/kubernetes-sigs/kustomize/pull/1217
#    then we can get rid of this clause (and the associated file).
configurations:
- kustomizeconfig.yaml

# Only present in environment-specific directories!
#transformers:
#- ../transformers

images:
- name: lookit
  newName: gcr.io/mit-lookit/lookit
  newTag: $COMMIT_SHA

# Configs and secrets
generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: lookit-configmap
  files:
    - files_/uwsgi.ini
    - files_/robots.txt

vars:
- name: CLOUDSQL_INSTANCE_CONNECTION_NAME
  objref:
    apiVersion: v1
    kind: ConfigMap
    name: lookit-configmap
  fieldref:
    fieldpath: data.CLOUDSQL_INSTANCE_CONNECTION_NAME
- name: CLUSTER_ISSUER
  objref:
    apiVersion: v1
    kind: ConfigMap
    name: lookit-configmap
  fieldref:
    fieldpath: data.CLUSTER_ISSUER
- name: SITE_DOMAIN
  objref:
    apiVersion: v1
    kind: ConfigMap
    name: lookit-configmap
  fieldref:
    fieldpath: data.SITE_DOMAIN
- name: ENVIRONMENT
  objref:
    apiVersion: v1
    kind: ConfigMap
    name: lookit-configmap
  fieldref:
    fieldpath: data.ENVIRONMENT
- name: RABBITMQ_HEADLESS_SERVICE_NAME
  objref:
    apiVersion: v1
    kind: Service
    name: lookit-rabbitmq-headless
  fieldref:
    fieldpath: metadata.name
- name: RABBITMQ_SERVICE_NAME
  objref:
    apiVersion: v1
    kind: Service
    name: lookit-rabbitmq
  fieldref:
    fieldpath: metadata.name
- name: RABBITMQ_STATEFULSET_NAME
  objref:
    apiVersion: apps/v1
    kind: StatefulSet
    name: lookit-rabbitmq
  fieldref:
    fieldpath: metadata.name
- name: GCLOUD_SQLPROXY_SERVICE_NAME
  objref:
    apiVersion: v1
    kind: Service
    name: gcloud-sqlproxy
  fieldref:
    fieldpath: metadata.name
- name: GCLOUD_SQLPROXY_DEPLOYMENT_NAME
  objref:
    apiVersion: apps/v1
    kind: Deployment
    name: gcloud-sqlproxy
  fieldref:
    fieldpath: metadata.name

patches:
- path: patches_/add-lookit-env-vars.yaml
  target:
    annotationSelector: "lookit-env-vars=injected"
- path: patches_/add-lookit-env-vars-to-second-container.yaml
  target:
    annotationSelector: "lookit-env-vars=second-container"
- path: patches_/wait-init-rabbitmq.yaml
  target:
    annotationSelector: "wait-for-rabbitmq in (true, True, TRUE, 1, yes, Yes, YES)"
- path: patches_/add-rollout-waiter-serviceaccount.yaml
  target:
    annotationSelector: "wait-for-rabbitmq in (true, True, TRUE, 1, yes, Yes, YES)"
- path: patches_/wait-init-gcloud-sqlproxy.yaml
  target:
    annotationSelector: "wait-for-gcloud-sqlproxy in (true, True, TRUE, 1, yes, Yes, YES)"
- path: patches_/add-rollout-waiter-serviceaccount.yaml
  target:
    annotationSelector: "wait-for-gcloud-sqlproxy in (true, True, TRUE, 1, yes, Yes, YES)"
